.Home{
    width: 100%;
}
.homeImg{
    margin-left: 2%;
    width: 95%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -120px;
}
.sliderImg{
    width: 100%;
}
@media screen and (max-width:868px) {
    .homeImg{
        margin-bottom: -80px;
        margin-left: 5%;
        width: 90%;
    }
    .sliderImg{
        width: 100%;
    }
}
@media screen and (max-width:468px) {
    .homeImg{
        margin-bottom: -80px;
        margin-left: 5%;
        width: 88%;
    }
    .sliderImg{
        width: 100%;
    }
}